ol{
    margin: 0;
    background-color: chartreuse;
    list-style: none;
    padding: 30px 60px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
}