/* file: styles.css */
.form-container {
    background-color: #f9f9f9; /* Light gray background color for the form container */
    border-radius: 10px; /* Rounded corners for the form container */
    padding: 10px; /* Space inside the container */
    margin: 10 auto; /* Centering the form container horizontally */
    display: flex;
    justify-content: center;
}

/* Styles for the labels */
label {
    margin-bottom: 10px; /* Space below each label */
    color: #0f0202; /* Dark gray font color for labels */
    display: block; /* Ensures each label appears on a new line */
}

/* Styles for input fields and textarea */
input {
    width: 100%; /* Full width of the form container */
    padding: 10px; /* Space inside the input fields */
    margin-bottom: 15px; /* Space below each input field */
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

textarea{
    width: 100%; /* Full width of the form container */
    padding: 10px; /* Space inside the input fields */
    margin-bottom: 15px; /* Space below each input field */
    height: 120px;
    box-sizing: border-box;
}

/* Styles for the submit button */
button {
    background-color: #007bff; /* Blue background color for the button */
    font-size: 16px; /* Font size of the button text */
    padding: 10px 20px; /* Space inside the button */
    border: none; /* Removes the default border */
    border-radius: 5px; /* Rounded corners for the button */
    cursor: pointer; /* Pointer cursor on hover */
}

/* Hover effect for the button */
button:hover {
    background-color: #0056b3; /* Darker blue color when the button is hovered */
}